<div class="button-parent">
  <a href="/memos/new" class="button">新規登録</a>
</div>
<h2>メモ一覧</h2>
<ul>
  <% @memos.each do |memo| %>
    <li>
      <a href="/memos/<%= memo.id %>"><%= h(memo.title) %></a>
    </li>
  <% end %>
</ul>
