<div class="button-parent">
  <a href="/memos/new" class="button">新規登録</a>
</div>
<h2>メモ一覧</h2>
<ul>
  <% @memos.each do |m| %>
    <li>
      <a href="/memos/<%= m["id"] %>"><%= m["title"] %></a>
    </li>
  <% end %>
</ul>
