<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Sinatra Memo App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="frame">
    <h1>­ЪЊЮсЃАсЃбсѓбсЃЌсЃф</h1>
    <hr class="line">
    <%= yield %>
  </div>
</body>
</html>
