<h2>メモ詳細</h2>
<p>
  <b>タイトル：</b><br>
  <%= h(@memo.title) %>
</p>
<p>
  <b>本文：</b><br>
  <%= h(@memo.body) %>
</p>
<a href="/edit/<%= @memo.id %>" class="button">編集</a>
<div class="button-parent">
  <form method="post" action="/delete/<%= @memo.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" class="button" value="削除">
  </form>
</div>
